@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import './reset';

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
}
